<div class="flex justify-center mb-5 p-4 card_book">
  <div class="mr-5">
    <%= image_tag(bookmark_books.book.large_image_url) %>
  </div>
  <div class="w-96">
    <div class="flex justify-between items-center">
      <%= bookmark_books.book.title%><br>
      <%= bookmark_books.book.author%>
      <%= render 'bookmark_button', { book: bookmark_books.book } %>
    </div>
    <%= simple_format(bookmark_books.book.item_caption) %>
    <%= link_to book_path(isbn: bookmark_books.book.isbn),  class: "flex items-center" do %>
      <button class="bg-gray-500 text-white py-2 px-4 m-2">
        詳細へ
      </button>
    <% end %>
  </div>
</div>
