<div class="flex justify-center mb-5 p-4 card_book">
  <div class="mr-5">
    <%= image_tag(recommend.large_image_url) %>
  </div>
  <div class="w-96">
    <div class="flex justify-between items-center">
      <div>
        <%= recommend.title%><br>
        <%= recommend.author%>
      </div>
      <% if current_user %>
        <div class="flex items-center">
          <%= render 'bookmark_button', { book: recommend } %>
        </div>
      <% end %>
    </div>
    <%= simple_format(recommend.item_caption) %>
  </div>
</div>
