<% @bookmark_books.each do |bookmark|%>
  <%= bookmark.book.title%><br>
  <div class="book">
    <%= image_tag(bookmark.book.large_image_url) %>
  </div>
  <%= bookmark.book.author%>
  <%= simple_format(bookmark.book.item_caption) %>

  <%= render 'bookmark_button', { book: bookmark.book } %>
<% end %>
