<div class="w-full max-w-xs mx-auto">
  <h1 class="text-center mb-3 text-lg font-mono font-bold"><%=t('defaults.login')%></h1>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <%= form_with url: login_path, local: true do |f| %>
      <div class="mb-4">
        <%= f.label User.human_attribute_name(:email) ,class:"block text-gray-700 text-sm font-bold mb-2"%>
        <%= f.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',placeholder: "***@example.com"%>
      </div>
      <div class="mb-6">
        <%= f.label User.human_attribute_name(:password),class:"block text-gray-700 text-sm font-bold mb-2"%>
        <%= f.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline',placeholder: "******"%>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit  t('defaults.login') , class:"bg-gray-600 text-white hover:bg-gray-600 hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
        <%= link_to t('users.new.title') ,new_user_path , class: 'inline-block align-baseline font-bold text-sm text-gray-600 hover:text-gray-900' %>
      </div>
    <% end %>
  </div>
</div>
